body{
width: 95%;
height: 400px;
background-color: #e8f1f1;
margin: auto

}

main{
    background-color:white;
    padding: 10px 50px;
    margin-top: 40px;
    border-radius: 40px;
}

.logo, .band-line, .read-line{
    margin: 0;
    text-align: center;
}

h1{
    color: red;
}
h2{
    color: black;
}
h3 {
    color: black;
}

.menu ul li {
    display: inline-block;
    color: black;
    margin-left: 15px;
}

.menu ul li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.menu ul li b {
    color: black;
    text-decoration: none;
    font-size: 10px;
}

.menu a:hover {
    color: red;
}

.cadastrar a:hover {
    color: red;
}

footer img {
    width: 60px;
    height: 60px
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 100px;
    text-align: center;
}

footer p {
    margin-top: 5px;
}


